<p>SAMSUNG S23 Details</p>
<div className="col-6 text-center">
    <div className="main-banner position-relative">
      <img src="assets/images/samsung.jpg" className="img rounded-3" alt="main-banner" />
      <div className="main-banner-content position-absolute">
        <h5 class="text-break">The most anticipated Samsung Galaxy S23 Ultra 5G 2023 is the alternative of the Galaxy Note line with phone specifications, features, specs, camera features</h5>
        <h3>Samsung Galaxy S23 Ultra</h3>
        <p>From $899.00 or $31.62/mo.</p>
        <button className="button">BUY NOW</button>
      </div>
    </div>
  </div>