<p>Redmi Note11 Pro Details</p>
<div className="col-6 text-center">
    <div className="apple position-relative">
      <img src="assets/images/xiaomi.jpg" className="img-fluid rounded-3" alt="nokia" />
      <div className="main-banner-content position-absolute">
        <h4>FASTER 5G SPEED</h4>
        <h5>Redmi Note 11 Pro series</h5>
        <p>impressive 6.67-inch Full HD+ OLED display with 120Hz refresh rate, powerful SoCs, and 108-megapixel primary cameras.</p>
        <p>From $799.00 or $31.62/mo.</p>
        <button className="button">BUY NOW</button>
      </div>
    </div>
  </div>