
<p>Nokia 5G Details</p>
<div className="col-6 text-center">
    <div className="apple position-relative">
      <img src="assets/images/nokia.jpg" className="img-fluid rounded-3" alt="nokia" />
      <div className="main-banner-content position-absolute">
        <h4>SUPERCHARGED FOR PROS.</h4>
        <h5>Nokia 5G</h5>
        <p>Android Smartphone, Dual SIM, 3-Day Battery Life, 6GB RAM + 128GB Storage, 50MP Triple AI Camera | Dusk</p>
        <p>From $999.00 or $41.62/mo.</p>
        <button className="button">BUY NOW</button>
      </div>
    </div>
  </div>
